# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
web/web-app/.pnp
web/web-app/.pnp.js

# testing
web/web-app/coverage

# production
web/web-app/build

# misc
web/web-app/.DS_Store
web/web-app/.env.local
web/web-app/.env.development.local
web/web-app/.env.test.local
web/web-app/.env.production.local

web/web-app/npm-debug.log*
web/web-app/yarn-debug.log*
web/web-app/yarn-error.log*
package-lock.json
.vscode
*/package-lock.json
node_modules/*
main
docs/html
docs/latex

node_modules
